h1  {
    background-color: #004175;
    font-family: Open Sans;
    color: white;
    padding: 15px;
    border-bottom: 5px solid #89DEEF;
}
h3, p {
    font-family: Open Sans;
}
h4 {
    font-family: Oswald;
}
li {
    font-family: Open Sans;  
}